body {
  font-family: 'cerebri sans', sans-serif; }

.body-m {
  height: 100vh; }
  @media (min-width: 992px) {
    .body-m {
      height: 160vh; } }

.header {
  height: 400px;
  background: #223148; }
  @media (min-width: 992px) {
    .header {
      height: 300px; } }
  .header .nav-- {
    padding-top: 16px; }
    .header .nav-- .left-nav .logo {
      color: #fff;
      text-transform: uppercase;
      font-size: 20px; }
      @media (min-width: 992px) {
        .header .nav-- .left-nav .logo {
          font-size: 22px;
          font-weight: 700; } }
    .header .nav-- .right-nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .nav-- .right-nav span:first-of-type {
        opacity: 0;
        visibility: hidden;
        display: none; }
        @media (min-width: 992px) {
          .header .nav-- .right-nav span:first-of-type {
            opacity: 1;
            visibility: visible;
            display: block; } }
      .header .nav-- .right-nav span:first-of-type::after {
        opacity: 0;
        visibility: hidden;
        display: none; }
        @media (min-width: 992px) {
          .header .nav-- .right-nav span:first-of-type::after {
            content: '';
            border: .5px solid #1C293D;
            height: 5px;
            position: relative;
            left: 17px; } }
      .header .nav-- .right-nav span {
        color: #455979;
        margin-right: 32px; }
        .header .nav-- .right-nav span.account-name {
          font-size: 14px;
          margin-right: 16px; }
          @media (min-width: 992px) {
            .header .nav-- .right-nav span.account-name {
              font-size: 16px; } }
      .header .nav-- .right-nav .user-profile img {
        height: 32px;
        width: 32px; }
  .header hr {
    width: 100%;
    background: #1E2B40;
    border: none;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 0; }
    @media (min-width: 992px) {
      .header hr {
        width: 95%; } }
  .header .intro-title {
    margin-left: 0; }
    .header .intro-title .vouchers-sold {
      color: #455979;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500; }
      @media (min-width: 992px) {
        .header .intro-title .vouchers-sold {
          font-size: 16px;
          font-weight: normal; } }
    .header .intro-title .price {
      color: #0065FF;
      font-size: 3rem;
      font-weight: 500; }
      @media (min-width: 992px) {
        .header .intro-title .price {
          font-size: 80px;
          font-weight: 100; } }
  .header .validate-voucher label {
    color: #455979;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500; }
    @media (min-width: 992px) {
      .header .validate-voucher label {
        font-size: 16px;
        font-weight: normal; } }
  .header .validate-voucher .input-group input[type="text"] {
    width: 100%;
    border: 1px solid #2f3c52;
    background: transparent;
    padding-left: 16px;
    outline: none;
    font-family: 'Cerebri sans', sans-serif;
    color: #BCC4C9;
    font-size: 16px;
    border-radius: 2px;
    height: 45px;
    transition: all 0.25s ease-out;
    background-color: #1f2835; }
    .header .validate-voucher .input-group input[type="text"]::placeholder {
      color: #BCC4C9; }
    .header .validate-voucher .input-group input[type="text"]:focus {
      border: 1px solid #0065FF; }
  .header .validate-voucher .input-group .btn-custom {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    background-color: #0065FF; }

.tabs-container {
  height: 56px;
  background: #111723;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .tabs-container {
      height: 60px; } }
  .tabs-container .tabs {
    display: flex; }
    .tabs-container .tabs a {
      margin-right: 4px;
      color: #394861;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      align-items: center;
      flex-direction: column;
      white-space: nowrap; }
      @media (min-width: 992px) {
        .tabs-container .tabs a {
          margin-right: 4px;
          font-size: 16px;
          flex-direction: row; } }
      .tabs-container .tabs a:last-of-type {
        margin-right: 0; }
      .tabs-container .tabs a:hover {
        text-decoration: none; }
      .tabs-container .tabs a .icon--fill {
        fill: #394861;
        margin-right: 0;
        margin-bottom: 8px;
        width: 16px; }
        @media (min-width: 992px) {
          .tabs-container .tabs a .icon--fill {
            width: 21px;
            margin-bottom: 0;
            margin-right: 16px; } }
      .tabs-container .tabs a:hover {
        color: #657691; }
        .tabs-container .tabs a:hover .icon--fill {
          fill: #657691; }
      .tabs-container .tabs a.active {
        position: relative;
        color: #0064FF; }
        .tabs-container .tabs a.active .icon--fill {
          fill: #0064FF; }
        .tabs-container .tabs a.active::before {
          content: '';
          border: 2px solid #0065FF;
          height: 1px;
          width: 100%;
          position: absolute;
          bottom: -16%; }
          @media (min-width: 992px) {
            .tabs-container .tabs a.active::before {
              bottom: -73%; } }

.main-body {
  margin-top: 48px; }
  .main-body .section-title {
    font-size: 24px;
    font-weight: 100;
    color: #394861; }
    @media (min-width: 992px) {
      .main-body .section-title {
        font-size: 32px; } }
  .main-body .date--picker {
    border: none;
    width: 8rem;
    height: 32px;
    font-family: 'Cerebri sans', sans-serif;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #E1E1E1;
    color: #717882;
    transition: all 0.25s ease-in;
    background: rgba(2, 117, 216, 0.01);
    text-align: center; }
    .main-body .date--picker:focus {
      border-color: none; }
    .main-body .date--picker::placeholder {
      font-size: 14px;
      text-align: center; }
  .main-body .btn-export {
    border-radius: 2px;
    border: none;
    outline: none;
    color: #fff;
    width: 7.2rem;
    font-size: 14px;
    background-color: #0065FF;
    font-family: 'Cerebri sans', sans-serif;
    height: 32px;
    text-decoration: none;
    cursor: pointer; }
    .main-body .btn-export .fillsvg {
      fill: #fff;
      width: 12px; }
  .main-body .btn-apply {
    font-size: 14px;
    height: 32px;
    width: 3.5rem;
    border-radius: 2px;
    background: #5cb85c;
    border: none;
    color: #fff;
    outline: none; }
  .main-body .my-account-form {
    margin-top: 32px; }
    @media (min-width: 992px) {
      .main-body .my-account-form {
        margin-top: 70px; } }
    .main-body .my-account-form h1 {
      color: #394861;
      font-weight: 100;
      font-size: 32px;
      margin-bottom: 32px; }
    .main-body .my-account-form .form-container {
      height: 100%;
      border: 1px solid rgba(37, 40, 42, 0.12);
      border-radius: 4px; }
      .main-body .my-account-form .form-container form {
        margin-top: 32px; }
        .main-body .my-account-form .form-container form .input-wrapper {
          position: relative; }
          .main-body .my-account-form .form-container form .input-wrapper .input__field {
            height: 3.5rem;
            width: 100%;
            outline: none;
            padding-left: 0.6em;
            box-sizing: border-box;
            border-radius: 2px;
            box-shadow: none;
            border: 1px solid #E1E1E1;
            font-weight: 600;
            font-family: 'cerebri sans', sans-serif;
            color: #394861;
            transition: all 0.25s ease-in;
            background: rgba(2, 117, 216, 0.01); }
            .main-body .my-account-form .form-container form .input-wrapper .input__field:focus {
              border-color: #0175D8; }
          .main-body .my-account-form .form-container form .input-wrapper .input__label {
            position: absolute;
            top: 25%;
            left: 1em;
            opacity: 1;
            font-size: 16px;
            transition: all 200ms ease-in-out;
            color: #8E8888;
            font-weight: 200; }
          .main-body .my-account-form .form-container form .input-wrapper .float--label + .input__label {
            top: 5%;
            font-size: 8px;
            opacity: .5;
            text-transform: uppercase; }
        .main-body .my-account-form .form-container form .form-group {
          display: flex;
          flex-direction: column; }
          .main-body .my-account-form .form-container form .form-group select {
            height: 45px;
            border-radius: 2px;
            border: 1px solid #E1E3E5;
            padding-left: 16px;
            color: #394861;
            font-family: 'Cerebri sans', sans-serif; }
          .main-body .my-account-form .form-container form .form-group .form-control {
            height: 45px;
            border-radius: 2px;
            border: 1px solid #E1E3E5; }
        .main-body .my-account-form .form-container form .btn-custom {
          height: 50px;
          width: 140px;
          width: 100%; }
    .main-body .my-account-form .table-content {
      border: 1px solid #fcfcfc; }
      .main-body .my-account-form .table-content .transaction-table thead tr th {
        color: #394861;
        font-size: 15px;
        white-space: nowrap; }
      .main-body .my-account-form .table-content .transaction-table tbody th, .main-body .my-account-form .table-content .transaction-table tbody td {
        color: #717882;
        font-size: 13px;
        white-space: nowrap; }
  .main-body .wishlist-container {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 40em;
    justify-content: center;
    align-items: center;
    height: 15em;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #fff;
    margin-top: 10%;
    width: 18em;
    height: 10em; }
    @media (min-width: 992px) {
      .main-body .wishlist-container {
        height: 15em;
        width: 40em; } }
    .main-body .wishlist-container p {
      color: rgba(0, 0, 0, 0.56);
      margin-bottom: 36px; }
    .main-body .wishlist-container .modalTrigger {
      width: 140px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center; }
  .main-body .wishlist {
    margin-top: 80px; }
    .main-body .wishlist .right-heading h1 {
      margin-right: 32px;
      font-size: 22px;
      font-weight: 800;
      margin-bottom: 0;
      color: #394861; }
    .main-body .wishlist .right-heading .share {
      color: #0275d8;
      text-decoration: none; }
      .main-body .wishlist .right-heading .share:hover {
        color: #0275d8; }
    .main-body .wishlist .left-heading a {
      margin: 0;
      color: #394861;
      text-decoration: underline; }
    .main-body .wishlist .wishlist-item .item-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #394861;
      font-size: 19px;
      font-weight: 700;
      margin-top: 24px;
      margin-bottom: 16px; }
    .main-body .wishlist .wishlist-item .item-desc {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: unset;
      color: rgba(0, 0, 0, 0.83);
      font-weight: 100; }

.modalState {
  display: none; }
  .modalState:checked + .wishlistModal {
    opacity: 1;
    visibility: visible; }
  .modalState:checked + .wishlistModal .modal-inner {
    top: 0; }

.wishlistModal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity .25s ease;
  z-index: 1000; }
  .wishlistModal .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
  .wishlistModal .modal-inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 4px;
    width: 95%;
    height: 70%; }
    @media (min-width: 992px) {
      .wishlistModal .modal-inner {
        height: 60%;
        width: 40%; } }
  .wishlistModal .title {
    font-size: 28px;
    color: #394861;
    margin-top: 28px;
    margin-bottom: 0;
    font-weight: 800; }
  .wishlistModal form {
    margin-top: 32px; }
    .wishlistModal form .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px; }
      .wishlistModal form .form-group .input-label {
        margin-bottom: 16px;
        font-weight: 100;
        font-size: 18px;
        color: #394861; }
      .wishlistModal form .form-group .input-field {
        height: 45px;
        border-radius: 2px;
        box-shadow: none;
        border: 1px solid #E1E1E1;
        padding-left: 16px;
        outline: none;
        font-weight: 600;
        font-family: 'cerebri sans', sans-serif;
        color: #394861;
        transition: all 0.25s ease-in;
        background: rgba(2, 117, 216, 0.01); }
        .wishlistModal form .form-group .input-field:focus {
          border-color: #0275d8; }
    .wishlistModal form .btn {
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center; }
    .wishlistModal form .btn:first-of-type {
      margin-right: 16px;
      height: 50px;
      border: 2px solid #0275d8;
      background: transparent;
      color: #0275d8; }

/*# sourceMappingURL=merchant-dashboard.css.map */
