// COLORS
$primary-black: #404044;;
$secondary-black: rgba(0, 0, 0, 0.54);
$disabled-black: rgba(0, 0, 0, 0.38);
$divider: #eee;
$primary-white: rgba(255, 255, 255, 1);
$secondary-white: rgba(255, 255, 255, 0.7);
$disabled-white: rgba(255, 255, 255, 0.5);
$dividers-white: rgba(255, 255, 255, 0.12);
$active-icons-black: rgba(0, 0, 0, .54);
$inactive-icons-black: rgba(0, 0, 0, .38);
$active-icons-white: rgba(255, 255, 255, 1);
$inactive-icons-white: rgba(255, 255, 255, .50);

// FONTS
$font-family: 'Sailec',
'Cerebri Sans',
'Helvetica',
'Roboto',
sans-serif;
$icon-font-family: 'line-awesome';