.mt-50{
    margin-top: 50px !important;
}
.mt-100{
    margin-top: 100px !important;
}
.mt-150{
    margin-top: 150px !important;
}
.mt-200{
    margin-top: 200px !important;
}
.nav-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: $primary-white;
    box-shadow: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.31;
    -ms-transition:  all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    .search-container{
        visibility: hidden;
        opacity: 0;
    }

    .search-container-mobile{
        display: none;
        // visibility: hidden;
        // opacity: 0;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
    }
}
.nav-fixed--with-searchbar{
    .search-container, .search-container-mobile{
        display: block;
    }
}
.revealSearch{
    background: $primary-white !important;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.10);
    .nav-home .search-container-mobile{
        display: block;
    }
    .nav-home .nav-right .nav-right-links{
        visibility: hidden;
        opacity: 0;
    }
    .nav-home .nav-right .nav-right-links-cta{
        visibility: visible;
    }
    .nav-home .search-container{
        visibility: visible;
        opacity: 1;
    }
}