// :root{
//     font-size: 50px;
// }
.pt-x {
    @include pt(25%);
    @media (max-width: 575px) {
        @include pt(45%);
    }
    @media (min-width: 992px) {
        @include pt(17%);
    }
}

.pt-35{
    padding-top: 35% !important;
}

body,
html {
    height: 100%;
}

body {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
}

.btn{
    outline: none !important;
    &:focus{
        border: transparent;
        outline: none !important;
    }
}
// STYLING
// HEADER
// NAVIGATION
.navigation {
    @include padding(1rem);
    @media(min-width: 768px){
        @include padding(1rem 1.5rem 1rem 1.5rem);
    }
    .nav-home {
        justify-content: space-between !important;
        .nav-right {
            left: 0 !important;
        }
    }
    .nav-left {
        .toggle {
            i.la{
                position: relative;
                top: 0px;
            }
            i.la-navicon{
                visibility: visible;
                opacity: 1;
                @include transition(all 0.3s);
            }
            i.la-close{
                left: -28px;
                visibility: hidden;
                opacity: 0;
                @include transition(all 0.3s);
            }
            i.la:before {
                font-size: 24px;
                color: $primary-black;
            }
        }
        .logo {
            font-size: 22px;
            font-weight: 700;
            text-transform: lowercase;
            color: $primary-black;
            margin-right: 0;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
            @media (min-width: 992px) {
                // margin-right: 104px;
            }
        }
    }
    .search-container {
        position: relative;
        padding: 0;
        .searchbar {
            width: 100%;
            border: none;
            background: $divider;
            padding: 0px 30px 0px 42px;
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            font-family: $font-family;
            font-weight: normal;
            color: $primary-black;
            height: 40px;

            &::placeholder {
                color: $secondary-black;
            }
            +.la {
                position: absolute;
                transform: rotate(270deg);
            }
        }
        i.la {
            height: 40px;
            position: absolute;
            top: 0;
            left: 18px;
            &::before {
                color: #ff715b;
                font-weight: 700;
                font-size: 20px;
            }
        }
    }
    .search-container-mobile {
        position: relative;
        // padding: 0;
        .searchbar-mobile {
            width: 100%;
            height: 40px;
            border: none;
            background: $divider;
            padding: 0px 12px 0px 35px;
            border-radius: 4px;
            outline: none;
            font-size: 15px;
            font-family: $font-family;
            font-weight: normal;
            line-height: 0;
            color: $primary-black;
            &::placeholder {
                color: $disabled-black;
            }
        }
        i.la {
            height: 40px;
            position: absolute;
            top: 0;
            left: 32px;
            transform: rotate(270deg);
            &::before {
                color: $secondary-black;
                font-weight: 800;
                font-size: 20px;
            }
        }
    }
    .nav-right {
        a,
        label {
            font-size: 14px;
            font-weight: 500;
            color: $secondary-black;
            text-decoration: none;
        }
        .category-chooser {
            font-size: 14px;
            font-weight: 500;
            color: $secondary-black;
            transition: all 0.25s ease-in;
            cursor: pointer;
            position: relative;
            i.la:before {
                color: $secondary-black;
                font-weight: 800;
                margin-left: 0.5em;
            }
            &:focus {
                border-bottom: 1px solid $disabled-black;
                border-radius: 4px;
            }
            &:hover {
                .mega-dropdown {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .mega-dropdown {
                max-width: 700px;
                width: auto;
                padding: 16px;
                left: -308px;
                background: $primary-white;
                box-shadow: 0 4px 4px rgba(0,0,0,0.1);
                padding-top: 24px;
                border-radius: 4px;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                z-index: 10;
                transition: all 0.25s ease-in;
                pointer-events: visible;
                .nav-link {
                    margin-bottom: 0.5rem;
                    border-radius: 4px;
                    @include padding(16px 0);
                    cursor: pointer;
                    &:hover {
                        background: #f7f7f7;
                    }
                    i.la:before {
                        font-size: 20px;
                        color: #6D6D6D;
                        font-weight: 300;
                        margin-right: 0.5em;
                        background: #eee;
                        border-radius: 50%;
                        padding: 5px;
                        -webkit-font-smoothing: antialiased;
                    }
                    i.la-plane {
                        transform: rotate(45deg);
                    }
                    span {
                        font-weight: 500;
                        color: $secondary-black;
                        font-size: 15px;
                    }
                }
            }
        }
        .account-dropdown{
            position: relative;
            cursor: pointer;
            i.la:before{
                font-size: 24px;
                font-weight: 800;
                background: #eee;
                color: $primary-black;
                padding: 8px;
                border-radius: 50%;
            }
            .account-wrapper{
                position: absolute;
                right: 0px;
                top: 34px;
                display: none;
                @include padding(8px 0 8px 0);
                border-radius: 4px;
                background: $primary-white;
                box-shadow: 0px 4px 16px rgba(0,0,0,0.16);
                width: 180px;
                max-width: 300px;
                .account-wrapper__link{
                    display: block;
                    color: $secondary-black;
                    font-size: 15px;
                    font-weight: 500;
                    text-decoration: none;
                    border-radius: 2px;
                    padding: 8px 16px;
                    hr{
                        background: $divider;
                    }
                    &:hover{
                        background: $divider;
                    }
                }
            }
        }
        .account-dropdown-trigger{
            &:checked ~ .account-dropdown .account-wrapper{
                display: block;
            }
        }
        .access {
            background:#FF715B;
            // height: 42px;
            border-radius: 4px;
            // background: #eee;
            color: $primary-white;
            box-shadow: none;
            cursor: pointer;
            @include padding(8px 12px);
        }
    }
}
.header-index{
    background: url(../images/header-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header {
    // height: 95vh;
    .hero {
        padding-top: 50%;
        @media (min-width: 576px) {
            padding-top: 50%;
            padding-left: 0px;
            padding-right: 0px;
        }

        @media (min-width: 768px) {
            padding-top: 17%;
            padding-left: 45px;
            padding-right: 45px;
        }
        @media (min-width: 992px) {
            // margin-top: 100px;
            padding-top: 17%;
            padding-left: 90px;
            padding-right: 90px;
        }
        .hero-text-wrapper{
            .hero-text-wrapper__heading {
                font-size: 45px;
                line-height: 60px; 
                color: $primary-white;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
                font-weight: 500;
                font-size: 44px;
                @media (min-width: 992px) {
                    font-size: 48px;
                    line-height: 70px;
                }
                span{
                    text-transform: lowercase;
                    visibility: visible;
                }
            }
            .hero-text-wrapper__help-text > p{
                font-size: 17px;
                font-weight: normal;
                color: $primary-white;
                text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
                margin: 0;
            }
        }
        .hero-text-wrapper-merchant{
            @extend .hero-text-wrapper;
            .hero-text-wrapper__heading {
                font-weight: 700;
                color: $primary-white;
            }
            .hero-text-wrapper__help-text{
                font-weight: 500;
                color: $secondary-white;
            }
            .btn--get-started{
                background: $primary-white;
                border-radius: 4px;
                font-family: $font-family;
                font-weight: 500;
                color: $primary-black;
                cursor: pointer;
                outline: none;
                border: none;
                @include padding(15px 24px);
                &:focus{
                    box-shadow: none;
                }
                @media (min-width: 992px) {
                    @include padding(15px 32px);
                }
            }
        }
        .hero-search {
            .search-wrapper {
                height: 54px;
                position: relative;
                box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
                @media (min-width: 992px) {
                    height: 64px;
                }
                .search-wrapper__search-field {
                    font-size: 24px;
                    font-weight: normal;
                    line-height: normal;
                    background: $primary-white;
                    border: 1px solid $divider;
                    border-radius: 4px;
                    box-shadow: none;
                    color: $secondary-black;
                    font-family: $font-family;
                    outline: none;
                    transition: all 0.25s ease;
                    padding-left: 64px;
                    z-index: 0 !important;
                    &::placeholder {
                        color: $disabled-black;
                        font-size: 19px;
                    }
                    &:hover {
                        z-index: 0 !important;
                    }
                }
                .search-wrapper__search-icon{
                    height: 54px;
                    position: absolute;
                    z-index: 2;
                    top: 0px;
                    left: 24px;
                    transform: rotate(270deg);

                    @media (min-width: 992px) {
                        height: 64px;
                        top: 0px;
                        left: 32px;
                    }

                    &:before{
                        font-size: 28px;
                        font-weight: 500;
                        color: #FF715B;
                    }
                }
            }
        }
    }
}

hr {
    background: $divider;
    width: 90%;
    margin: 3rem auto 2rem auto;
    @media (min-width: 992px) {
        width: 82%;
        margin: 90px auto 32px auto;
    }
}
