.pt-25 {
    @include pt(25%);
    @media (min-width: 992px) {
        @include pt(25%);
    }
}

body,
html {
    height: 100%;
}

body {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
}

// STYLING
// HEADER
// NAVIGATION
.header {
    // height: 95vh;
    .navigation {
        .nav-home {
            justify-content: space-between !important;
            .nav-right {
                left: 0 !important;
            }
        }
        .nav-left {
            .toggle {
                i.la:before {
                    font-size: 24px;
                    color: $primary-black;
                    position: relative;
                    top: 3px;
                }
            }
            .logo {
                font-size: 22px;
                font-weight: 500;
                text-transform: uppercase;
                color: $primary-black;
                margin-right: 0;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                @media (min-width: 992px) {
                    // margin-right: 104px;
                }
            }
        }
        .search-container {
            position: relative;
            .searchbar {
                width: 100%;
                border: none;
                background: $divider;
                padding: 8px 12px 8px 38px;
                border-radius: 4px;
                outline: none;
                font-family: $font-family;
                font-weight: 500;
                color: $primary-black;
                &::placeholder {
                    color: $secondary-black;
                }
                +.la {
                    position: absolute;
                    transform: rotate(270deg);
                }
            }
            i.la {
                position: absolute;
                top: 12px;
                left: 24px;
                &::before {
                    color: $inactive-icons-black;
                    font-weight: 800;
                }
            }
        }
        .nav-right {
            a,
            label {
                font-size: 13px;
                font-weight: 600;
                color: $secondary-black;
                text-decoration: none;
            }
            .category-chooser {
                font-size: 13px;
                font-weight: 600;
                color: $secondary-black;
                transition: all 0.25s ease-in;
                cursor: pointer;
                position: relative;
                i.la:before {
                    color: $secondary-black;
                    font-weight: 800;
                    margin-left: 0.5em;
                }
                &:focus {
                    border-bottom: 1px solid $disabled-black;
                    border-radius: 4px;
                }
                &:hover {
                    .mega-dropdown {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .mega-dropdown {
                    max-width: 700px;
                    width: auto;
                    padding: 16px;
                    left: -308px;
                    background: $primary-white;
                    box-shadow: 0 4px 4px $divider;
                    padding-top: 24px;
                    border-radius: 4px;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    z-index: 10;
                    transition: all 0.25s ease-in;
                    pointer-events: visible;
                    .nav-link {
                        margin-bottom: 1.5rem;
                        border-radius: 4px;
                        padding-bottom: 8px;
                        padding-top: 8px;
                        cursor: pointer;
                        &:hover {
                            background: #f7f7f7;
                        }
                        i.la:before {
                            font-size: 20px;
                            color: #6D6D6D;
                            font-weight: 300;
                            margin-right: 0.5em;
                            background: #eee;
                            border-radius: 50%;
                            padding: 5px;
                            -webkit-font-smoothing: antialiased;
                        }
                        i.la-plane {
                            transform: rotate(45deg);
                        }
                        span {
                            font-weight: 500;
                            color: $secondary-black;
                            font-size: 15px;
                        }
                    }
                }
            }
            .access {
                // background: $primary-black;
                height: 42px;
                width: 140px;
                border-radius: 4px;
                background: #eee;
                color: #6D6D6D;
                box-shadow: none;
                // box-shadow: 0 1px 3px rgba(0, 0, 0, .08);
                cursor: pointer;
            }
        }
    }
    .search-container-mobile {
        position: relative;
        .searchbar-mobile {
            width: 100%;
            border: none;
            background: $divider;
            padding: 8px 12px 8px 35px;
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            font-family: $font-family;
            font-weight: 500;
            color: $primary-black;
            &::placeholder {
                color: $disabled-black;
            }
        }
        i.la {
            position: absolute;
            top: 11px;
            left: 24px;
            &::before {
                color: $secondary-black;
                font-weight: 800;
            }
        }
    }
    .hero {
        margin-top: 3rem;

        @media (min-width: 576px) {
            padding-left: 0px;
            padding-right: 0px;
        }

        @media (min-width: 768px) {
            padding-left: 45px;
            padding-right: 45px;
        }
        @media (min-width: 992px) {
            margin-top: 100px;
            padding-left: 90px;
            padding-right: 90px;
        }
        .hero-text-wrapper{
            h1 {
                font-size: 45px;
                line-height: 60px; 
                color: #404044;
                font-weight: 500;
                font-size: 42px;
                // font-size: 28px;
                // font-weight: normal;
                // line-height: 36px;
                // color: $primary-black;
                @media (min-width: 992px) {
                    font-size: 48px;
                    line-height: 70px;
                }
            }
            .hero-text-wrapper__help-text{
                font-size: 16px;
                font-weight: normal;
                color: $secondary-black;
            }
        }
        .hero-search {
            .search-wrapper {
                height: 54px;
                position: relative;
                @media (min-width: 992px) {
                    height: 64px;
                }
                .search-wrapper__search-field {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: normal;
                    background: #eee;
                    border: none;
                    border-radius: 2px;
                    box-shadow: none;
                    color: $secondary-black;
                    font-family: $font-family;
                    outline: none;
                    transition: all 0.25s ease;
                    padding-left: 64px;
                    z-index: 0 !important;
                    &::placeholder {
                        color: $disabled-black;
                        font-size: 19px;
                    }
                    &:hover {
                        z-index: 0 !important;
                    }
                }
                .search-wrapper__search-icon{
                    position: absolute;
                    z-index: 2;
                    top: 19px;
                    left: 16px;
                    transform: rotate(270deg);

                    &:before{
                        font-size: 28px;
                        font-weight: 500;
                        color: $secondary-black;
                    }
                }
            }
        }
    }
}

hr {
    background: $divider;
    width: 90%;
    margin: 3rem auto 2rem auto;
    @media (min-width: 992px) {
        width: 82%;
        margin: 90px auto 32px auto;
    }
}
