.pt-25 {
    @include pt(25%);
    @media (min-width: 992px) {
        @include pt(25%);
    }
}

body,
html {
    height: 100%;
}

body {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
}

// STYLING
// HEADER
// NAVIGATION
.header {
    .navigation {
        .nav-home {
            justify-content: space-between !important;
            .nav-right {
                left: 0 !important;
            }
        }
        .nav-left {
            .toggle {
                i.la:before {
                    font-size: 24px;
                    color: $primary-black;
                    position: relative;
                    top: 3px;
                }
            }
            .logo {
                font-size: 22px;
                font-weight: 500;
                text-transform: uppercase;
                color: $primary-black;
                margin-right: 0;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                @media (min-width: 992px) {
                    // margin-right: 104px;
                }
            }
        }
        .search-container {
            position: relative;
            .searchbar {
                width: 100%;
                border: none;
                background: $divider;
                padding: 8px 12px 8px 38px;
                border-radius: 4px;
                outline: none;
                font-family: $font-family;
                font-weight: 500;
                color: $primary-black;
                &::placeholder {
                    color: $secondary-black;
                }
                +.la {
                    position: absolute;
                }
            }
            i.la {
                position: absolute;
                top: 12px;
                left: 24px;
                &::before {
                    color: $inactive-icons-black;
                    font-weight: 800;
                }
            }
        }
        .nav-right {
            a,
            label {
                font-size: 13px;
                color: $primary-black;
                font-weight: normal;
                text-decoration: none;
            }
            .category-chooser {
                font-size: 13px;
                color: $primary-black;
                font-weight: normal;
                transition: all 0.25s ease-in;
                cursor: pointer;
                position: relative;
                i.la:before {
                    color: $primary-black;
                    font-weight: 800;
                    margin-left: 0.5em;
                }
                &:focus {
                    border-bottom: 1px solid $disabled-black;
                    border-radius: 4px;
                }
                &:hover {
                    .mega-dropdown {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .mega-dropdown {
                    width: 500px;
                    max-width: 550px;
                    padding: 8px;
                    background: $primary-white;
                    box-shadow: 0 4px 4px $divider;
                    padding-top: 24px;
                    border-radius: 4px;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: -166px;
                    z-index: 10;
                    transition: all 0.25s ease-in;
                    pointer-events: visible;
                    .nav-link {
                        margin-bottom: 0.5rem;
                        cursor: pointer;
                        &:hover {
                            background: #f7f7f7;
                        }
                        i.la:before {
                            font-size: 20px;
                            color: $primary-white;
                            font-weight: 300;
                            margin-right: 0.5em;
                            background: $primary-black;
                            border-radius: 50%;
                            padding: 4px;
                            -webkit-font-smoothing: antialiased;
                        }
                        i.la-plane {
                            transform: rotate(45deg);
                        }
                        span {
                            font-weight: normal;
                            color: $secondary-black;
                            font-size: 14px;
                        }
                    }
                }
            }
            .access {
                background: $primary-black;
                height: 42px;
                width: 140px;
                border-radius: 4px;
                color: $primary-white;
                box-shadow: 0 1px 3px rgba(0, 0, 0, .08);
                cursor: pointer;
            }
        }
    }
    .search-container-mobile {
        position: relative;
        .searchbar-mobile {
            width: 100%;
            border: none;
            background: $divider;
            padding: 8px 12px 8px 35px;
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            font-family: $font-family;
            font-weight: 500;
            color: $primary-black;
            &::placeholder {
                color: $disabled-black;
            }
        }
        i.la {
            position: absolute;
            top: 11px;
            left: 24px;
            &::before {
                color: $secondary-black;
                font-weight: 800;
            }
        }
    }
    .hero {
        margin-top: 3rem;
        @media (min-width: 992px) {
            margin-top: 100px;
        }
        .hero-text h1 {
            font-weight: 800;
            font-size: 45px;
            line-height: 60px; // font-size: 28px;
            // font-weight: normal;
            // line-height: 36px;
            color: $primary-black;
            @media (min-width: 992px) {
                font-size: 48px;
                line-height: 70px;
            }
        }
        .hero-search {
            width: 90vw;
            @media (min-width: 992px) {
                width: 95vw;
            }
            .input-group {
                width: 100%;
                @media (min-width: 992px) {
                    width: 50%;
                }
                input[type="text"] {
                    height: 42px;
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08) !important;
                    font-family: $font-family;
                    font-weight: 800;
                    font-size: 15px;
                    color: $primary-black;
                    outline: none;
                    transition: all 0.25s ease;
                    &::placeholder {
                        color: $disabled-black;
                        font-size: 15px;
                        font-weight: normal;
                    }
                    @media (min-width: 768px) {
                        height: 60px;
                        font-size: 24px;
                        &::placeholder {
                            font-size: 19px;
                            vertical-align: middle;
                        }
                    }
                }
                .search-btn {
                    width: 65px;
                    border-radius: 0 4px 4px 0;
                    border: none;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08) !important;
                    position: relative;
                    z-index: 2;
                    background: $primary-black;
                    color: $primary-white;
                    font-family: $font-family;
                    font-size: 19px;
                    outline: none;
                    cursor: pointer;
                    i.la {
                        transform: rotate(270deg);
                    }
                    i.la:before {
                        color: $primary-white;
                        font-size: 24px;
                        font-weight: 800;
                    }
                    @media (min-width: 768px) {
                        width: 150px;
                    }
                }
            }
        }
    }
}

hr {
    background: $divider;
    width: 90%;
    margin: 3rem auto 2rem auto;
    @media (min-width: 992px) {
        width: 82%;
        margin: 90px auto 32px auto;
    }
}
