body {
  background-color: $primary-white;
}

.form-container {
  .form-signin {
    width: auto;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
    .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .checkbox {
      font-weight: normal;
    }
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-control:focus {
      border: 1px solid $primary-black;
    }
    input[type="email"] {
      margin-bottom: -1px;
      border-radius: 2px;
      height: 46px;
      font-family: $font-family;
    }
    .form-signin-heading {
      font-size: 28px;
      font-weight: 700;
      color: $primary-black;
    }
    .form-siginin-help-text {
      font-weight: normal;
      line-height: 28px;
      font-size: 14px;

      @media (min-width: 768px){
        font-size: 16px;
      }
    }
    .btn-reset-password {
      background: $primary-black;
      font-family: 'Sailec';
      border: transparent;
      border-radius: 4px; // width: 50%;
      height: 50px;
      font-weight: 500;
      color: $primary-white;
      cursor: pointer;
    }
  }
  .back-to-login {
    color: $primary-black;
    font-size: 15px;
    font-weight: 500;
  }
}