.voucher-body{
    margin-top: 100px;

    @media (min-width: 576px) {
        padding-left: 0px;
        padding-right: 0px;
    }

    @media (min-width: 768px) {
        padding-left: 45px;
        padding-right: 45px;
    }

    @media (min-width: 992px) {
        margin-top: 150px;
        padding-left: 90px;
        padding-right: 90px;
    }
    .voucher-section {
        .section-heading {
            h1 {
                margin: 0;
                font-size: 25px;
                font-weight: 700;
                color: $primary-black;
                @media (min-width: 992px) {
                    font-size: 32px;
                }
            }
            .see-all {
                color: $primary-black; // text-decoration: underline;
                font-size: 14px;
            }
        }
        .filters {
            .trigger {
                font-weight: normal;
                color: $primary-black;
                cursor: pointer;
                font-size: 15px;
            }
            .cancel {
                color: $secondary-black !important;
            }
            .filter-label-c {
                position: relative;
                .filter-label {
                    font-size: 15px;
                    font-weight: normal;
                    color: $secondary-black;
                    padding: 0px 8px;
                    cursor: pointer;
                    border-radius: 4px;
                    line-height: 32px;
                    margin: 0;
                    position: relative;
                    left: -6px;
                    i.la {
                        color: $secondary-black;
                        font-weight: 700;
                        transition: all 0.4s ease;
                    }
                    &:hover {
                        background: $divider;
                    }
                }
            }
            #pricefilter,
            #categoryfilter {
                display: none;
            }
            #pricefilter {
                &:checked~#pricefilter-label {
                    background: $divider;
                    >i.pfa {
                        transform: rotate(180deg);
                    }
                }
                &:checked~.pf {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .pf {
                visibility: hidden;
                opacity: 0; // transition: visibility 0.4s ease, opacity 0.4s ease;
                .mask-bg {
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                    background: $secondary-white;
                    visibility: visible;
                    opacity: 1;
                }
                .pricefilter {
                    width: 100%;
                    max-width: 400px;
                    background: $primary-white;
                    border-radius: 4px;
                    padding: 16px 16px 32px 16px;
                    border: 1px solid rgba(0, 0, 0, 0.2) !important;
                    position: absolute;
                    top: 43px;
                    z-index: 10;
                    box-shadow: 0 14px 36px 2px $divider !important;
                    .price-indicator {
                        span,
                        i {
                            color: $primary-black;
                            font-size: 19px;
                            font-weight: 300;
                            font-style: normal
                        }
                    }
                    .slider-target {
                        height: 4px;
                        width: 100%;
                        background: $secondary-black;
                        border-radius: 4px;
                        border: none;
                        box-shadow: none;
                        .slider-origin {
                            .slider-handle {
                                border-radius: 50px;
                                width: 32px;
                                height: 32px;
                                left: -15px;
                                top: -15px;
                                outline: none;
                                border: 1px solid $primary-black;
                                &::after,
                                &::before {
                                    display: none;
                                }
                            }
                        }
                        .slider-connect {
                            background: $primary-black;
                        }
                    }
                }
            }
            #categoryfilter {
                &:checked~#categoryfilter-label {
                    background: $divider;
                    i.cfa {
                        transform: rotate(180deg);
                    }
                }
                &:checked~.cf {
                    visibility: visible;
                    opacity: 1;
                }
                &:checked~.cf+.mask-bg-c {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .cf {
                visibility: hidden;
                opacity: 0; // transition: visibility 0.4s ease, opacity 0.4s ease;
                .mask-bg {
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                    background: $secondary-white;
                    visibility: visible;
                    opacity: 1;
                }
                .categoryfilter {
                    width: 100%;
                    max-width: 550px;
                    background: $primary-white;
                    border-radius: 4px;
                    padding: 16px;
                    border: 1px solid rgba(0, 0, 0, 0.2) !important;
                    position: absolute;
                    top: 43px;
                    z-index: 10;
                    box-shadow: 0 14px 36px 2px $divider !important;
                    .subcat-row {
                        label {
                            font-size: 15px;
                            font-weight: normal;
                            color: $secondary-black;
                        }
                    }
                    .options {
                        .label-cbx {
                            user-select: none;
                            cursor: pointer;
                            margin-bottom: 0;
                            input:checked {
                                &+.checkbox {
                                    border-color: $primary-black;
                                    svg {
                                        path {
                                            fill: $primary-black;
                                        }
                                        polyline {
                                            stroke-dashoffset: 0;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                .checkbox {
                                    svg {
                                        path {
                                            stroke-dashoffset: 0;
                                        }
                                    }
                                }
                            }
                            .checkbox {
                                position: relative;
                                top: 2px;
                                float: left;
                                margin-right: 8px;
                                width: 20px;
                                height: 20px;
                                border: 2px solid $divider;
                                border-radius: 3px;
                                svg {
                                    position: absolute;
                                    top: -2px;
                                    left: -2px;
                                    path {
                                        fill: none;
                                        stroke: $primary-black;
                                        stroke-width: 2;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-dasharray: 71px;
                                        stroke-dashoffset: 71px;
                                        transition: all .6s ease;
                                    }
                                    polyline {
                                        fill: none;
                                        stroke: #FFF;
                                        stroke-width: 2;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                        stroke-dasharray: 18px;
                                        stroke-dashoffset: 18px;
                                        transition: all .3s ease;
                                    }
                                }
                            }
                            >span {
                                pointer-events: none;
                                vertical-align: middle;
                                color: $secondary-black;
                                font-weight: normal;
                                font-size: 15px;
                            }
                        }
                        .cntr {
                            position: relative;
                            top: 0%;
                            left: 0;
                            width: 100%;
                            text-align: center;
                        }
                        .invisible {
                            position: absolute;
                            z-index: -1;
                            width: 0;
                            height: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
        .voucher-container .voucher {
            text-decoration: none;
            .voucher-image {
                border-radius: 4px;
                padding-top: 150%;
                width: 100%;
                background-image: url(../images/greybox.png);
                background-size: 100% 100%;
                position: relative;
                .addToWishlist {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    cursor: pointer;
                    &:hover>i.la {
                        color: $primary-black;
                    }
                    i.la {
                        color: $secondary-black;
                        font-size: 32px;
                        transition: all 0.25s ease-in-out;
                    }
                }
            }
            .voucher-image-collections {
                border-radius: 4px;
                padding-top: 80%;
                width: 100%;
                background-image: url(../images/greybox.png);
                background-size: 100% 100%;
                position: relative;
                .addToWishlist {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    cursor: pointer;
                    &:hover>i.la {
                        color: $primary-black;
                    }
                    i.la {
                        color: $secondary-black;
                        font-size: 32px;
                        transition: all 0.25s ease-in-out;
                    }
                }
            }
            .just-bought {
                padding-top: 75%;
            }
            .voucher-name h3 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: $primary-black;
                font-weight: 800;
                margin-top: 16px;
                margin-bottom: 8px;
                font-size: 19px;

                @media (min-width: 576px) {
                    font-size: 19px;
                }
                @media (min-width: 768px) {
                    font-size: 19px;
                }
            }
            .voucher-desc p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: $secondary-black;
                font-weight: normal;
                font-size: 15px;
            }
        }
        // .voucher-item{
        //     width: 100%;
        //     height: 100%;
        //     // padding-right: 2%;
        //     // padding-left: 2%;
        //     margin-bottom: 30px;
        //     float: left;
        // }
        // .card-row{
        //     width: 100%;
        //     height: 100%;

        // }
    }
}

.voucher-body-alt-page {
    margin-top: 48px;
}